.navbar-brand img {
    max-height: none !important; /* Elimina cualquier restricción de altura */
    height: 90px !important;  /* Ajusta la altura según lo necesites */
    width: auto !important;    /* Mantiene la proporción */
}

.navbar {
    background-color: #d88038 !important; /* Naranja oscuro */
}

.navbar a, .navbar-brand, .navbar-toggler {
    color: white !important; /* Texto y enlaces en blanco */
}

.navbar a:hover {
    color: #FFDAB9 !important; /* Un tono más claro al pasar el mouse */
}


